<div class="box">
  <p>
    <%= link_to @box.title1, @box.url1%>
  </p>

  <p>
    <%= link_to @box.title2, @box.url2%>
  </p>

  <p>
    <%= link_to @box.title3, @box.url3%>
  </p>
</div>

<%= link_to 'Boxes', boxes_path %>
